body{
    display:flex;
    flex-direction: column;
    gap: 40px;
    background-color:rgb(174, 234, 232);
}

.imageContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.feedbackContainer{
    display: flex;
    justify-content: space-around;
}

.computerChoice,
.feedback{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.resultContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button{
    font-size: 60px;
    border-radius: 7px;
    cursor:pointer;
    width: 200px;
    height: 200px;
    background-color: white;
    padding: 0;
}

#confirmation {
    height: 60px;
    width: 200px;
    font-size: 20px;
}

#choice {
    margin-bottom:auto;
}

img{
    width: 196px;
    height: 196px;
    border-radius: 7px;
}

.grow:hover{
    transform: scale(1.1);
}

.grow { 
    transition: all .2s ease-in-out; 
    }

div{
    font-size: 40px;
}

#score {
    display:flex;
    justify-content: flex-start;
}

#roundResult,
#result{
    color:red;
}

#imageChoice{
    background-color: white;
    border: 3px solid black;
}